@charset "UTF-8";

/* ************************************************************************* *
 *                                                                           *
 * Base                                                                      *
 *                                                                           *
 * ************************************************************************* */


/* ********************************* *
   Normalize
 * ********************************* */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,500&display=swap");
* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

p.r {
    margin-left: 150px;
}

img {
    max-width: 100%;
}

img.logo {
    width: 50px;
}

img.bild {
    height: 1000px;
    margin-left: 500px;
}

img.pers {
    height: 300px;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
}

main {
    color: #262b2c;
}

video {
    margin: 50px 0 30px 150px;
    height: 500px;
}

h1 {
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;
    margin: 100px 0 30px 150px;
}

hr {
    color: #FA3B51;
    margin: 0 150px 50px 150px;
}

h2 {
    font-size: 28px;
    line-height: 35px;
    margin: 30px 0 16px 0;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

div.mb-3 {
    margin: 0 150px 0 150px;
}

div.row.g-0 {
    margin: 0 150px 0 150px;
}

button.btn-btn-primary {
    padding: 10px;
    size: 50px 20px;
    margin-left: 150px;
    margin-bottom: 220px;
    background-color: #FA3B51;
}


/* ********************************* *
   Header
 * ********************************* */

body>header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #262b2c;
    border-bottom: 2px solid #FA3B51;
}

@media (min-width: 768px) {
    body>header {
        padding: 36px 50px 36px 38px;
    }
}

body>header a {
    font-size: 15px;
    line-height: 19px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

@media (min-width: 768px) {
    body>header a {
        font-size: 25px;
        line-height: 30px;
    }
}

body>header a.header__home {
    position: relative;
    padding: 8px 12px;
    font-weight: 700;
}

@media (min-width: 768px) {
    body>header a.header__home {
        margin-right: 76px;
    }
    body>header a.header__home:after {
        display: block;
        position: absolute;
        content: "";
        width: 2px;
        top: 0;
        right: -38px;
        bottom: 0;
        background-color: #CFCFCF;
    }
}

@media (min-width: 768px) {
    body>header .burger-toggle {
        display: none;
    }
}

body>header nav {
    flex-grow: 1;
    width: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out 0s, opacity 0.2s linear;
}

body>header nav.nav__mobile-open {
    max-height: 500px;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.2s linear 0.2s;
}

@media (min-width: 768px) {
    body>header nav {
        width: fit-content;
        max-height: initial;
        opacity: 1;
    }
}

body>header nav ul {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin-top: 15px;
    list-style-type: none;
}

@media (min-width: 768px) {
    body>header nav ul {
        flex-direction: row;
        padding: 0;
    }
}

body>header nav ul li {
    display: block;
    position: relative;
}

body>header nav ul li.nav__current:after {
    display: block;
    position: absolute;
    bottom: 6px;
    left: 12px;
    content: "";
    height: 3px;
    width: 26px;
    border-radius: 2px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

@media (min-width: 768px) {
    body>header nav ul li.nav__current:after {
        left: 0;
        right: 0;
    }
}

body>header nav ul li.nav__current a {
    font-weight: 700;
}

body>header nav ul li a {
    display: block;
    width: 100%;
    padding: 16px 12px;
}

body>header a.header__download {
    display: none;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    body>header a.header__download {
        display: block;
    }
}

body>footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #262b2c;
    border-top: 2px solid #FA3B51;
}

p {
    margin-left: 120px;
    margin-top: 1rem;
}




/* ********************************* *
   Formular
 * ********************************* */

html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #222831;    
}
form{
    height: 550px;
    width: 550px;

    
    

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    color: white;
    margin-left: 20px;
}
input{
    height: 60px;
    width: 190px;
    margin: 10px;
    padding: 0 20px;

    border: none;
    border-radius: 1000px;
    background-color: #373e49;
    color: white;
    font-size: 18px;

    transition: 0.3s;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.534);
}
input:hover{
    background-color: #414857;
}
input:focus{
    outline: none;
    width: 220px;   
    background-color: #414857;
}
button{
    height: 50px;
    width: 100px;
    margin-top: 20px;

    background-color: rgb(76, 0, 255);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 1000px;
    transition: 0.3s;
}
button:hover{
    width: 135px;   
}
button:focus{
    outline: none;
    width: 135px;   
}
.red-message{
    color: rgb(255, 0, 55);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.red-input{
    border: 2px solid rgb(255, 0, 55);
}